openapi: 3.2.0
info:
  title: Middesk Subpackage Websites API
  version: 1.0.0
servers:
- url: https://api.middesk.com
  description: Default
tags:
- name: subpackage_websites
paths:
  /v1/businesses/{business_id}/website:
    get:
      operationId: get-business-website
      summary: Retrieve website analysis for a business
      description: Returns website analysis data including domain info, pages, and quality indicators
      tags:
      - subpackage_websites
      parameters:
      - name: business_id
        in: path
        description: Business ID
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: Include additional data. Use "indicator_details" to include source examples and explanations for each indicator
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: website analysis found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__Website'
        '404':
          description: website not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
components:
  schemas:
    type__WebsitePhoneNumber:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type__WebsitePhoneNumberObject'
        id:
          type: string
          format: uuid
        number:
          type: string
        contact_type:
          type:
          - string
          - 'null'
        recommended:
          type:
          - boolean
          - 'null'
        submitted:
          type: boolean
        sources:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/type__Source'
      title: WebsitePhoneNumber
    type__WebsiteRating:
      type: object
      properties:
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/type__WebsiteIndicator'
        quality_rating:
          $ref: '#/components/schemas/type__WebsiteRatingQualityRating'
      required:
      - quality_rating
      title: WebsiteRating
    type__Website:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type__WebsiteObject'
        id:
          type: string
          format: uuid
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL that was passed or found for the Business
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/type__WebsiteStatus'
        http_status_code:
          type:
          - integer
          - 'null'
          description: HTTP response status code
        title:
          type:
          - string
          - 'null'
          description: Website page title
        description:
          type:
          - string
          - 'null'
          description: Website meta description
        domain:
          oneOf:
          - $ref: '#/components/schemas/type__WebsiteDomain'
          - type: 'null'
          description: Domain registration and redirect information
        pages:
          type: array
          items:
            $ref: '#/components/schemas/type__WebsitePagesItem'
          description: Website pages with screenshots
        parked:
          type:
          - boolean
          - 'null'
          description: Whether the domain is parked
        submitted:
          type: boolean
          description: Whether the website was submitted by user
        error:
          type:
          - string
          - 'null'
          description: Error message if website analysis failed
        category:
          type:
          - string
          - 'null'
          description: Website category classification
        platform:
          type:
          - string
          - 'null'
          description: Website platform (e.g., instagram.com, facebook.com)
        posts_summary:
          type:
          - string
          - 'null'
          description: Summary of posts found on the website or linked social media profiles
        reviews_summary:
          type:
          - string
          - 'null'
          description: Summary of reviews found on the website or linked third-party profiles
        business_id:
          type: string
          format: uuid
        business_name_match:
          type: boolean
          description: Whether website content matches business name
        names:
          type: array
          items:
            $ref: '#/components/schemas/type__Name'
          description: Names found on website
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/type__WebsitePhoneNumber'
          description: Phone numbers found on website
        people:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties:
              description: Any type
          description: People found on website
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type__WebsiteAddressesItem'
          description: Addresses found on website
        email_addresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/type__WebsiteEmailAddressesItem'
          description: Email addresses found on website
        rating:
          oneOf:
          - $ref: '#/components/schemas/type__WebsiteRating'
          - type: 'null'
      required:
      - object
      - id
      - url
      - created_at
      - updated_at
      - status
      - parked
      - submitted
      - business_id
      - business_name_match
      - phone_numbers
      - addresses
      title: Website
    type__WebsiteRatingQualityRating:
      type: string
      enum:
      - low
      - moderate
      - high
      - not_available
      title: WebsiteRatingQualityRating
    type__WebsiteIndicatorRating:
      type: string
      enum:
      - positive
      - negative
      - neutral
      title: WebsiteIndicatorRating
    type__WebsiteStatus:
      type: string
      enum:
      - online
      - offline
      - unknown
      title: WebsiteStatus
    type__ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type__ErrorResponseErrorsItem'
      required:
      - errors
      title: ErrorResponse
    type__WebsitePagesItem:
      type: object
      properties:
        url:
          type: string
          format: uri
        category:
          type: string
        screenshot_url:
          type: string
          format: uri
      title: WebsitePagesItem
    type__WebsiteDomain:
      type: object
      properties:
        domain:
          type: string
        domain_id:
          type:
          - string
          - 'null'
        creation_date:
          type: string
          format: date-time
        expiration_date:
          type: string
          format: date-time
        registrar:
          $ref: '#/components/schemas/type__WebsiteDomainRegistrar'
        redirected:
          type:
          - boolean
          - 'null'
          description: Whether the domain redirects to a different URL
        url_shortener:
          type:
          - boolean
          - 'null'
          description: Whether the domain uses a URL shortener service
        resolved_url:
          type:
          - string
          - 'null'
          format: uri
          description: The final URL after redirect resolution (present when redirected is true)
      title: WebsiteDomain
    type__WebsiteDomainRegistrar:
      type: object
      properties:
        organization:
          type:
          - string
          - 'null'
        name:
          type: string
        url:
          type:
          - string
          - 'null'
          format: uri
      title: WebsiteDomainRegistrar
    type__Source:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
      required:
      - id
      - type
      - metadata
      title: Source
    type__ErrorResponseErrorsItem:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: ErrorResponseErrorsItem
    type__WebsiteIndicator:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type__WebsiteIndicatorType'
        name:
          type: string
        rating:
          $ref: '#/components/schemas/type__WebsiteIndicatorRating'
        value:
          type: string
        description:
          type: string
      required:
      - type
      - name
      - rating
      - value
      - description
      title: WebsiteIndicator
    type__WebsiteAddressesItem:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        address_line1:
          type:
          - string
          - 'null'
        address_line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
        full_address:
          type: string
        submitted:
          type: boolean
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type__Source'
      title: WebsiteAddressesItem
    type__NameType:
      type: string
      enum:
      - legal
      - dba
      title: NameType
    type__WebsiteEmailAddressesItem:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type__WebsiteEmailAddressesItemObject'
        email:
          type: string
        id:
          type: string
          format: uuid
        submitted:
          type: boolean
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type__Source'
      title: WebsiteEmailAddressesItem
    type__Name:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        submitted:
          type: boolean
        type:
          oneOf:
          - $ref: '#/components/schemas/type__NameType'
          - type: 'null'
        business_id:
          type: string
          format: uuid
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type__Source'
      required:
      - object
      - id
      - name
      - submitted
      - business_id
      - sources
      title: Name
    type__WebsiteIndicatorType:
      type: string
      enum:
      - domain_age
      - top_level_domain
      - content_diversity
      - contact_info
      - compliance_info
      - page_count
      - broken_links
      - domain_consistency
      - update_frequency
      - filler_text
      - image_quality
      - last_updated
      - third_party_profile_links
      - us_business_presence
      - spelling_and_grammar
      - https
      - domain_ownership
      title: WebsiteIndicatorType
    type__WebsiteEmailAddressesItemObject:
      type: string
      enum:
      - email_address
      title: WebsiteEmailAddressesItemObject
    type__WebsiteObject:
      type: string
      enum:
      - website
      title: WebsiteObject
    type__WebsitePhoneNumberObject:
      type: string
      enum:
      - phone_number
      title: WebsitePhoneNumberObject
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
