openapi: 3.2.0
info:
  title: Middesk Subpackage Information Requests API
  version: 1.0.0
servers:
- url: https://api.middesk.com
  description: Default
tags:
- name: subpackage_informationRequests
paths:
  /v1/partner/exceptions:
    get:
      operationId: list-information-requests
      summary: List Information Requests
      tags:
      - subpackage_informationRequests
      parameters:
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: information requests list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_informationRequests_ListInformationRequestsResponse'
components:
  schemas:
    type_informationRequests_ListInformationRequestsResponse:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/type__AgentInformationRequest'
        url:
          type: string
        has_more:
          type: boolean
        count:
          type: integer
      title: ListInformationRequestsResponse
    type__AgentInformationRequest:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        url:
          type:
          - string
          - 'null'
          format: uri
        information_requested:
          type: string
          description: Description of what information is required
        contact:
          $ref: '#/components/schemas/type__AgentInformationRequestContact'
        company:
          $ref: '#/components/schemas/type__AgentInformationRequestCompany'
      required:
      - object
      - id
      - created_at
      - information_requested
      - company
      title: AgentInformationRequest
    type__AgentInformationRequestCompany:
      type: object
      properties:
        id:
          type: string
          format: uuid
        legal_name:
          type:
          - string
          - 'null'
        dba_name:
          type:
          - string
          - 'null'
        external_id:
          type:
          - string
          - 'null'
      required:
      - id
      title: AgentInformationRequestCompany
    type__AgentInformationRequestContact:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
      title: AgentInformationRequestContact
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
