openapi: 3.0.3
info:
  title: Middesk subpackage_actions subpackage_businesses API
  version: 1.0.0
servers:
- url: https://api.middesk.com
  description: Default
tags:
- name: subpackage_businesses
paths:
  /v1/businesses:
    get:
      operationId: list-businesses
      summary: List businesses
      tags:
      - subpackage_businesses
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: businesses list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_businesses:ListBusinessesResponse'
    post:
      operationId: create-business
      summary: Create a business
      tags:
      - subpackage_businesses
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: business created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_:Business'
        '422':
          description: invalid request
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                tin:
                  $ref: '#/components/schemas/type_businesses:BusinessRequestParamTin'
                addresses:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_businesses:BusinessRequestParamAddressesItem'
                website:
                  $ref: '#/components/schemas/type_businesses:BusinessRequestParamWebsite'
                  description: Website information for the business. Required when name and addresses are not provided when ordering the web_analysis and/or industry_classification subproducts.
                people:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_:SubmittedPerson'
                external_id:
                  type: string
                unique_external_id:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                connection_id:
                  type: string
                  description: The ID of a connection to use as the source for this business. Pre-fills the business name and address from the connection.
                orders:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_businesses:BusinessRequestParamOrdersItem'
                  description: Orders to place against the business at creation time. Each order specifies a product (and optional subproducts/options) to run.
              required:
              - name
              - addresses
  /v1/businesses/{id}:
    get:
      operationId: get-business
      summary: Retrieve a business
      tags:
      - subpackage_businesses
      parameters:
      - name: id
        in: path
        description: Business ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: business found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_:Business'
        '404':
          description: business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_:ErrorResponse'
    patch:
      operationId: update-business
      summary: Update a business
      tags:
      - subpackage_businesses
      parameters:
      - name: id
        in: path
        description: Business ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: business updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_:Business'
        '404':
          description: business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_:ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  $ref: '#/components/schemas/type_businesses:BusinessUpdateParamStatus'
                  description: Status to set for the business (only final statuses allowed)
                tin:
                  $ref: '#/components/schemas/type_businesses:BusinessUpdateParamTin'
                addresses:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_businesses:BusinessUpdateParamAddressesItem'
                people:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_:SubmittedPerson'
                external_id:
                  type: string
                unique_external_id:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
  /v1/businesses/{id}/pdf:
    get:
      operationId: get-business-pdf
      summary: Retrieve a business PDF
      tags:
      - subpackage_businesses
      parameters:
      - name: id
        in: path
        description: Business ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: business not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    type_:AdverseMediaScreeningResultsItemItemsItemObject:
      type: string
      enum:
      - adverse_media_item
      title: AdverseMediaScreeningResultsItemItemsItemObject
    type_:AdverseMediaScreeningResultsItemItemsItemFlagsRisksItem:
      type: object
      properties:
        name:
          type: string
        confidence_level:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemFlagsRisksItemConfidenceLevel'
      title: AdverseMediaScreeningResultsItemItemsItemFlagsRisksItem
    type_:CriminalHistoryCharge:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:CriminalHistoryChargeObject'
        category:
          type: string
          nullable: true
        charge_type:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        dispositions:
          type: array
          items:
            $ref: '#/components/schemas/type_:CriminalHistoryChargeDispositionsItem'
        legal_code:
          type: string
          nullable: true
        offense_date:
          type: string
          nullable: true
          format: date
        sentences:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/type_:CriminalHistoryChargeSentencesItem'
        state:
          type: string
          nullable: true
        subcategory:
          type: string
          nullable: true
        subsubcategory:
          type: string
          nullable: true
      required:
      - object
      title: CriminalHistoryCharge
    type_:CriminalHistoryRecordPerson:
      type: object
      properties:
        dob:
          type: string
          nullable: true
          format: date
      title: CriminalHistoryRecordPerson
    type_:IndustryClassificationCategoriesItemClassificationSystem:
      type: string
      enum:
      - NAICS
      - MCC
      - Prohibited
      title: IndustryClassificationCategoriesItemClassificationSystem
    type_:TaxExemptOrganization:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        ein:
          type: string
        name:
          type: string
        section:
          type: string
          nullable: true
        ruling_date:
          type: string
          nullable: true
          format: date
        tax_period:
          type: string
          nullable: true
          format: date
        revoked_at:
          type: string
          nullable: true
          format: date-time
      title: TaxExemptOrganization
    type_:Person:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:PersonObject'
        id:
          type: string
          format: uuid
        name:
          type: string
        submitted:
          type: boolean
        business_id:
          type: string
          format: uuid
        titles:
          type: array
          items:
            $ref: '#/components/schemas/type_:PersonTitlesItem'
        people_bankruptcies:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
        litigations:
          type: array
          items:
            $ref: '#/components/schemas/type_:Litigation'
        liens:
          type: array
          items:
            $ref: '#/components/schemas/type_:Lien'
        criminal_records:
          type: array
          items:
            $ref: '#/components/schemas/type_:CriminalHistoryRecord'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
      title: Person
    type_:LitigationPartiesItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        role:
          $ref: '#/components/schemas/type_:LitigationPartiesItemRole'
        litigation_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - role
      - litigation_id
      title: LitigationPartiesItem
    type_:MonitorEventTypesItem:
      type: object
      properties:
        type:
          type: string
        enabled_at:
          type: string
          nullable: true
          format: date-time
        status:
          $ref: '#/components/schemas/type_:MonitorEventTypesItemStatus'
      title: MonitorEventTypesItem
    type_:Loan:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:LoanObject'
        id:
          type: string
          format: uuid
        issued_date:
          type: string
          nullable: true
          format: date
        amount:
          type: number
          nullable: true
          format: double
        lender:
          type: string
          nullable: true
        details:
          oneOf:
          - $ref: '#/components/schemas/type_:LoanDetails'
          - type: 'null'
      required:
      - object
      - id
      title: Loan
    type_:ReviewTaskStatus:
      type: string
      enum:
      - success
      - failure
      - warning
      - neutral
      title: ReviewTaskStatus
    type_:SubmittedAddressComponent:
      type: object
      properties:
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        state:
          $ref: '#/components/schemas/type_:SubmittedAddressComponentState'
        postal_code:
          type: string
        country:
          type: string
      required:
      - address_line_1
      - city
      - state
      title: SubmittedAddressComponent
    type_:WatchlistAgency:
      type: object
      properties:
        abbr:
          type: string
        name:
          type: string
        org:
          type: string
      required:
      - abbr
      - name
      - org
      title: WatchlistAgency
    type_:WebsiteRating:
      type: object
      properties:
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/type_:WebsiteIndicator'
        quality_rating:
          $ref: '#/components/schemas/type_:WebsiteRatingQualityRating'
      required:
      - quality_rating
      title: WebsiteRating
    type_:SubmittedPerson:
      type: object
      properties:
        name:
          type: string
          description: Full name of the person
        title:
          type: string
          description: Job title or role
        email:
          type: string
          format: email
        phone:
          type: string
      required:
      - name
      title: SubmittedPerson
    type_:PhoneNumberObject:
      type: string
      enum:
      - phone_number
      title: PhoneNumberObject
    type_:PolicyActionResultPolicyAction:
      type: object
      properties:
        id:
          type: string
          description: Policy action ID
        action_type:
          type: string
          description: Type of action
        options:
          type: object
          additionalProperties:
            description: Any type
          description: Action options
        policy_version_id:
          type: string
          description: Policy version ID
      title: PolicyActionResultPolicyAction
    type_:User:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        roles:
          type: array
          items:
            type: string
        image_url:
          type: string
          format: uri
        directory_managed:
          type: boolean
        last_login_at:
          type: string
          nullable: true
          format: date-time
        settings:
          type: object
          additionalProperties:
            description: Any type
        created_at:
          type: string
          format: date-time
      required:
      - object
      - id
      - name
      - email
      - roles
      - created_at
      title: User
    type_:EmailIndicatorRating:
      type: string
      enum:
      - positive
      - negative
      - neutral
      title: EmailIndicatorRating
    type_:LienStatusCategory:
      type: string
      enum:
      - active
      - open
      - closed
      - terminated
      - processing
      - unknown
      description: Categorized status of the lien
      title: LienStatusCategory
    type_:CriminalHistoryCase:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:CriminalHistoryCaseObject'
        arrest_date:
          type: string
          nullable: true
          format: date
        case_number:
          type: string
          nullable: true
        case_type:
          type: string
          nullable: true
        court_county:
          type: string
          nullable: true
        court_name:
          type: string
          nullable: true
        file_date:
          type: string
          nullable: true
          format: date
        status:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        arresting_agency:
          type: string
          nullable: true
        charges:
          type: array
          items:
            $ref: '#/components/schemas/type_:CriminalHistoryCharge'
      required:
      - object
      - charges
      title: CriminalHistoryCase
    type_:IndustryClassificationStatus:
      type: string
      enum:
      - pending
      - completed
      - failed
      title: IndustryClassificationStatus
    type_:ProfileType:
      type: string
      enum:
      - facebook
      - google
      - yelp
      - bbb
      - linkedin
      title: ProfileType
    type_:Website:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:WebsiteObject'
        id:
          type: string
          format: uuid
        url:
          type: string
          nullable: true
          format: uri
          description: The URL that was passed or found for the Business
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/type_:WebsiteStatus'
        http_status_code:
          type: integer
          nullable: true
          description: HTTP response status code
        title:
          type: string
          nullable: true
          description: Website page title
        description:
          type: string
          nullable: true
          description: Website meta description
        domain:
          oneOf:
          - $ref: '#/components/schemas/type_:WebsiteDomain'
          - type: 'null'
          description: Domain registration and redirect information
        pages:
          type: array
          items:
            $ref: '#/components/schemas/type_:WebsitePagesItem'
          description: Website pages with screenshots
        parked:
          type: boolean
          nullable: true
          description: Whether the domain is parked
        submitted:
          type: boolean
          description: Whether the website was submitted by user
        error:
          type: string
          nullable: true
          description: Error message if website analysis failed
        category:
          type: string
          nullable: true
          description: Website category classification
        platform:
          type: string
          nullable: true
          description: Website platform (e.g., instagram.com, facebook.com)
        posts_summary:
          type: string
          nullable: true
          description: Summary of posts found on the website or linked social media profiles
        reviews_summary:
          type: string
          nullable: true
          description: Summary of reviews found on the website or linked third-party profiles
        business_id:
          type: string
          format: uuid
        business_name_match:
          type: boolean
          description: Whether website content matches business name
        names:
          type: array
          items:
            $ref: '#/components/schemas/type_:Name'
          description: Names found on website
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/type_:WebsitePhoneNumber'
          description: Phone numbers found on website
        people:
          type: array
          nullable: true
          items:
            type: object
            additionalProperties:
              description: Any type
          description: People found on website
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_:WebsiteAddressesItem'
          description: Addresses found on website
        email_addresses:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/type_:WebsiteEmailAddressesItem'
          description: Email addresses found on website
        rating:
          oneOf:
          - $ref: '#/components/schemas/type_:WebsiteRating'
          - type: 'null'
      required:
      - object
      - id
      - url
      - created_at
      - updated_at
      - status
      - parked
      - submitted
      - business_id
      - business_name_match
      - phone_numbers
      - addresses
      title: Website
    type_:Review:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:ReviewObject'
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          nullable: true
          format: date-time
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/type_:ReviewTask'
        assignee:
          oneOf:
          - $ref: '#/components/schemas/type_:User'
          - type: 'null'
      required:
      - object
      - id
      - created_at
      - updated_at
      - tasks
      title: Review
    type_:PolicyResult:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          description: Policy result ID
        result:
          type: string
          description: Policy result outcome
        created_at:
          type: string
          description: Creation timestamp
        matched:
          type: string
          nullable: true
          description: Match status
        executed:
          type: boolean
          description: Execution status
        name:
          type: string
          nullable: true
          description: Policy name
        details:
          type: object
          additionalProperties:
            description: Any type
          description: Additional details
        owner_id:
          type: string
          description: Owner ID
        owner_type:
          type: string
          description: Owner type
        business_id:
          type: string
          description: Business ID
        type_of:
          type: string
          description: Type of policy result
        policy_action_results:
          type: array
          items:
            $ref: '#/components/schemas/type_:PolicyActionResult'
      title: PolicyResult
    type_:LienCollateralType:
      type: string
      enum:
      - Blanket
      - Collateral
      - Unknown
      - All Assets and Receivables
      - All Receivables
      - All Assets
      - Named Assets
      - Unavailable
      title: LienCollateralType
    type_:Monitor:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        event_types:
          type: array
          items:
            $ref: '#/components/schemas/type_:MonitorEventTypesItem'
      required:
      - object
      - id
      - created_at
      - event_types
      title: Monitor
    type_:SubmittedAddressFull:
      type: object
      properties:
        full_address:
          type: string
          description: Complete address as a single string
      required:
      - full_address
      title: SubmittedAddressFull
    type_:Profile:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/type_:ProfileType'
        external_id:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        metadata:
          $ref: '#/components/schemas/type_:ProfileMetadata'
        rating:
          type: number
          nullable: true
          format: double
        rating_count:
          type: integer
          nullable: true
      required:
      - object
      - id
      - type
      - url
      title: Profile
    type_:LienSecuredPartiesItemAddressesItem:
      type: object
      properties:
        full_address:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
          nullable: true
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
      title: LienSecuredPartiesItemAddressesItem
    type_:ErrorResponseErrorsItem:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: ErrorResponseErrorsItem
    type_:EmailIndicator:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_:EmailIndicatorType'
        name:
          type: string
        rating:
          $ref: '#/components/schemas/type_:EmailIndicatorRating'
        value:
          type: string
        description:
          type: string
      required:
      - type
      - name
      - rating
      - value
      - description
      title: EmailIndicator
    type_:BusinessSubscriptionAvailabilityRegistration:
      type: string
      enum:
      - subscribable
      - account_unsubscribable
      title: BusinessSubscriptionAvailabilityRegistration
    type_:EmailRating:
      type: object
      properties:
        risk_rating:
          $ref: '#/components/schemas/type_:EmailRatingRiskRating'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/type_:EmailIndicator'
      required:
      - risk_rating
      title: EmailRating
    type_:PersonTitlesItem:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:PersonTitlesItemObject'
        title:
          type: string
      title: PersonTitlesItem
    type_:WebsiteEmailAddressesItem:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:WebsiteEmailAddressesItemObject'
        email:
          type: string
        id:
          type: string
          format: uuid
        submitted:
          type: boolean
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
      title: WebsiteEmailAddressesItem
    type_:AddressDeliverabilityAnalysisSubKey:
      type: string
      enum:
      - deliverable
      - undeliverable
      - unknown
      title: AddressDeliverabilityAnalysisSubKey
    type_:Registration:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
        sub_status:
          type: string
          nullable: true
        status_details:
          type: string
          nullable: true
        jurisdiction:
          type: string
        entity_type:
          type: string
        file_number:
          type: string
        addresses:
          type: array
          items:
            type: string
        officers:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
        registered_agent:
          type: object
          additionalProperties:
            description: Any type
        registration_date:
          type: string
          format: date
        state:
          $ref: '#/components/schemas/type_:RegistrationState'
        source:
          type: string
          format: uri
      required:
      - object
      - id
      - business_id
      - name
      - status
      - jurisdiction
      - entity_type
      - file_number
      - state
      title: Registration
    type_:AddressState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: AddressState
    type_:AddressIndicator:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_:AddressIndicatorType'
        name:
          $ref: '#/components/schemas/type_:AddressIndicatorName'
        rating:
          $ref: '#/components/schemas/type_:AddressIndicatorRating'
        value:
          type: string
        description:
          type: string
      required:
      - type
      - name
      - rating
      - value
      - description
      title: AddressIndicator
    type_:AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItemName:
      type: string
      enum:
      - positive
      - negative
      - neutral
      title: AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItemName
    type_:LienAlternativeDesignation:
      type: string
      enum:
      - buyer_seller
      - bailee_bailor
      - consignee_consignor
      - lessee_lessor
      - licensee_licensor
      title: LienAlternativeDesignation
    type_:Name:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        submitted:
          type: boolean
        type:
          oneOf:
          - $ref: '#/components/schemas/type_:NameType'
          - type: 'null'
        business_id:
          type: string
          format: uuid
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
      required:
      - object
      - id
      - name
      - submitted
      - business_id
      - sources
      title: Name
    type_:BusinessSubscriptionAvailabilityWatchlistResult:
      type: string
      enum:
      - subscribable
      - account_unsubscribable
      title: BusinessSubscriptionAvailabilityWatchlistResult
    type_:BankruptcyDebtorsItem:
      type: object
      properties:
        name:
          type: string
      title: BankruptcyDebtorsItem
    type_:ReviewTask:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/type_:ReviewTaskCategory'
        key:
          $ref: '#/components/schemas/type_:ReviewTaskKey'
        label:
          $ref: '#/components/schemas/type_:ReviewTaskLabel'
        message:
          type: string
        name:
          type: string
        status:
          $ref: '#/components/schemas/type_:ReviewTaskStatus'
        sub_label:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
      required:
      - category
      - key
      - label
      - message
      - name
      - status
      - sub_label
      - sources
      title: ReviewTask
    type_:LienType:
      type: string
      enum:
      - ucc
      - state
      - federal
      - attachment
      - judgment
      description: Type of lien
      title: LienType
    type_:ProfileMetadata:
      type: object
      properties:
        name:
          type: string
        city:
          type: string
        state:
          type: string
        full_address:
          type: string
        website_urls:
          type: array
          items:
            type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        phone_number:
          type: string
        categories:
          type: array
          items:
            type: string
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/type_:ProfileMetadataReviewsItem'
        recent_posts:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
        recent_reviews:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
      title: ProfileMetadata
    type_:WebsiteStatus:
      type: string
      enum:
      - online
      - offline
      - unknown
      title: WebsiteStatus
    type_businesses:ListBusinessesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_:BusinessItem'
        object:
          type: string
        has_more:
          type: boolean
        total_count:
          type: integer
      required:
      - object
      - has_more
      title: ListBusinessesResponse
    type_:AddressDeliverabilityAnalysis:
      type: object
      properties:
        message:
          type: string
        sub_type:
          $ref: '#/components/schemas/type_:AddressDeliverabilityAnalysisSubType'
        sub_key:
          $ref: '#/components/schemas/type_:AddressDeliverabilityAnalysisSubKey'
      title: AddressDeliverabilityAnalysis
    type_:OrderStatus:
      type: string
      enum:
      - created
      - pending
      - audited
      - completed
      - approved
      - rejected
      title: OrderStatus
    type_:DocumentSource:
      type: object
      properties:
        type:
          type: string
          description: Source type (e.g., registration)
        id:
          type: string
          format: uuid
          description: Source record ID
        metadata:
          type: object
          additionalProperties:
            description: Any type
          description: Additional source metadata
      title: DocumentSource
    type_:LoanDetails:
      type: object
      properties:
        gender:
          type: string
          nullable: true
        veteran:
          type: string
          nullable: true
        naics_code:
          oneOf:
          - $ref: '#/components/schemas/type_:LoanDetailsNaicsCode'
          - type: 'null'
        non_profit:
          type: string
          nullable: true
        business_type:
          type: string
          nullable: true
        jobs_reported:
          type: string
          nullable: true
        race_ethnicity:
          type: string
          nullable: true
      title: LoanDetails
    type_:BankruptcyCaseUpdatesItem:
      type: object
      properties:
        guid:
          type: string
        pub_date:
          type: string
        description:
          type: string
      title: BankruptcyCaseUpdatesItem
    type_:AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItemConfidenceLevel:
      type: string
      enum:
      - low
      - moderate
      - high
      title: AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItemConfidenceLevel
    type_:Litigation:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        case_name:
          type: string
        case_number:
          type: string
        case_status:
          $ref: '#/components/schemas/type_:LitigationCaseStatus'
        case_type:
          type: string
        filing_date:
          type: string
          format: date
        judgments:
          type: array
          items:
            $ref: '#/components/schemas/type_:Judgment'
        jurisdiction:
          type: string
        jurisdiction_state:
          type: string
          nullable: true
        party_type:
          type: string
        parties:
          type: array
          items:
            $ref: '#/components/schemas/type_:LitigationPartiesItem'
      required:
      - object
      - id
      - case_name
      - case_number
      - case_status
      - case_type
      - filing_date
      - party_type
      title: Litigation
    type_:CriminalHistoryRecordObject:
      type: string
      enum:
      - criminal_history/record
      title: CriminalHistoryRecordObject
    type_:Subscription:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
      title: Subscription
    type_businesses:BusinessUpdateParamTin:
      type: object
      properties:
        tin:
          type: string
      title: BusinessUpdateParamTin
    type_:LoanObject:
      type: string
      enum:
      - loan
      title: LoanObject
    type_:SubmittedAddressComponentState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: SubmittedAddressComponentState
    type_:SignalReasonsItemCategory:
      type: string
      enum:
      - identification
      - verification
      - evaluation
      title: SignalReasonsItemCategory
    type_:Judgment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        litigation_id:
          type: string
          format: uuid
        docket_entry_date:
          type: string
          format: date
        text:
          type: string
        amount_cents:
          type: integer
          nullable: true
          description: The judgment amount in cents. For example, 5000000 represents $50,000.00. Null if no monetary amount is associated with the judgment.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - litigation_id
      - docket_entry_date
      - text
      - created_at
      - updated_at
      title: Judgment
    type_:PoliticallyExposedPersonScreening:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/type_:PoliticallyExposedPersonScreeningResultsItem'
        settings:
          $ref: '#/components/schemas/type_:PoliticallyExposedPersonScreeningSettings'
      required:
      - object
      - id
      - created_at
      - updated_at
      - results
      title: PoliticallyExposedPersonScreening
    type_:Address:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        address_line1:
          type: string
          nullable: true
        address_line2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          oneOf:
          - $ref: '#/components/schemas/type_:AddressState'
          - type: 'null'
        postal_code:
          type: string
          nullable: true
        full_address:
          type: string
        submitted:
          type: boolean
        latitude:
          type: number
          nullable: true
          format: double
        longitude:
          type: number
          nullable: true
          format: double
        property_type:
          oneOf:
          - $ref: '#/components/schemas/type_:AddressPropertyType'
          - type: 'null'
        deliverable:
          type: boolean
        deliverability_analysis:
          oneOf:
          - $ref: '#/components/schemas/type_:AddressDeliverabilityAnalysis'
          - type: 'null'
        street_view_available:
          type: boolean
          nullable: true
        labels:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        registered_agent_name:
          type: string
          nullable: true
        cmra:
          type: boolean
        business_id:
          type: string
          format: uuid
        location_count:
          type: integer
          nullable: true
        is_registered_agent:
          type: boolean
          nullable: true
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
        rating:
          $ref: '#/components/schemas/type_:AddressRating'
      required:
      - object
      - id
      - full_address
      - submitted
      - created_at
      - updated_at
      - business_id
      - sources
      - rating
      title: Address
    type_businesses:BusinessRequestParamTin:
      type: object
      properties:
        tin:
          type: string
      title: BusinessRequestParamTin
    type_:WatchlistResultAddressesItem:
      type: object
      properties:
        full_address:
          type: string
      title: WatchlistResultAddressesItem
    type_:EmailAddressAddressType:
      type: string
      enum:
      - disposable
      - free
      - private
      description: Classification of the email address. Included when email risk data is present.
      title: EmailAddressAddressType
    type_:NameType:
      type: string
      enum:
      - legal
      - dba
      title: NameType
    type_:WebsiteIndicator:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_:WebsiteIndicatorType'
        name:
          type: string
        rating:
          $ref: '#/components/schemas/type_:WebsiteIndicatorRating'
        value:
          type: string
        description:
          type: string
      required:
      - type
      - name
      - rating
      - value
      - description
      title: WebsiteIndicator
    type_:WebsiteDomainRegistrar:
      type: object
      properties:
        organization:
          type: string
          nullable: true
        name:
          type: string
        url:
          type: string
          nullable: true
          format: uri
      title: WebsiteDomainRegistrar
    type_:AdverseMediaScreening:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItem'
        exclusion_settings:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningExclusionSettings'
      required:
      - object
      - id
      - created_at
      - updated_at
      - results
      title: AdverseMediaScreening
    type_:AddressIndicatorType:
      type: string
      enum:
      - valid_us_address
      - deliverability
      - geographical_location
      - registered_agent
      - private_mailbox
      - location_frequency
      - property_type
      - virtual_address
      title: AddressIndicatorType
    type_:LitigationPartiesItemRole:
      type: string
      enum:
      - Plaintiff
      - Defendant
      - Cross-Plaintiff
      - Cross-Defendant
      title: LitigationPartiesItemRole
    type_:Document:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:DocumentObject'
        id:
          type: string
          format: uuid
        document_type:
          type: string
          description: 'Type of document. Common values include: Initial_Filing, Certificate of Good Standing, Articles of Incorporation, Initial Filing (UCC1), Amendment (UCC3)'
        filename:
          type: string
          description: Name of the document file
        content_type:
          type: string
          description: MIME type of the document
        size:
          type: integer
          description: File size in bytes
        download_url:
          type: string
          format: uri
          description: URL to download the document
        created_at:
          type: string
          format: date-time
        source:
          $ref: '#/components/schemas/type_:DocumentSource'
        filing_date:
          type: string
          nullable: true
          format: date-time
        metadata:
          type: object
          additionalProperties:
            description: Any type
          description: Additional document metadata
      required:
      - object
      - id
      - document_type
      - filename
      - content_type
      - size
      - download_url
      - created_at
      title: Document
    type_:RegistrationState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: RegistrationState
    type_:WebsiteDomain:
      type: object
      properties:
        domain:
          type: string
        domain_id:
          type: string
          nullable: true
        creation_date:
          type: string
          format: date-time
        expiration_date:
          type: string
          format: date-time
        registrar:
          $ref: '#/components/schemas/type_:WebsiteDomainRegistrar'
        redirected:
          type: boolean
          nullable: true
          description: Whether the domain redirects to a different URL
        url_shortener:
          type: boolean
          nullable: true
          description: Whether the domain uses a URL shortener service
        resolved_url:
          type: string
          nullable: true
          format: uri
          description: The final URL after redirect resolution (present when redirected is true)
      title: WebsiteDomain
    type_:PoliticallyExposedPersonScreeningSettings:
      type: object
      properties:
        people:
          type: string
        match_score:
          $ref: '#/components/schemas/type_:PoliticallyExposedPersonScreeningSettingsMatchScore'
      title: PoliticallyExposedPersonScreeningSettings
    type_:CriminalHistoryChargeObject:
      type: string
      enum:
      - criminal_history/charge
      title: CriminalHistoryChargeObject
    type_:BusinessSubscriptionAvailabilityTin:
      type: string
      enum:
      - subscribable
      - account_unsubscribable
      title: BusinessSubscriptionAvailabilityTin
    type_:LienDebtorsItemAddressesItem:
      type: object
      properties:
        full_address:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
          nullable: true
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
      title: LienDebtorsItemAddressesItem
    type_:Source:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
      required:
      - id
      - type
      - metadata
      title: Source
    type_:LienSecuredPartiesItemType:
      type: string
      enum:
      - ORGANIZATION
      - INDIVIDUAL
      title: LienSecuredPartiesItemType
    type_:PersonObject:
      type: string
      enum:
      - person
      title: PersonObject
    type_:FmcsaRegistrationObject:
      type: string
      enum:
      - fmcsa_registration
      title: FmcsaRegistrationObject
    type_:WatchlistResultObject:
      type: string
      enum:
      - watchlist_result
      title: WatchlistResultObject
    type_:WebsiteIndicatorRating:
      type: string
      enum:
      - positive
      - negative
      - neutral
      title: WebsiteIndicatorRating
    type_:Business:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        external_id:
          type: string
          nullable: true
        unique_external_id:
          type: string
          nullable: true
        name:
          type: string
        status:
          $ref: '#/components/schemas/type_:BusinessStatus'
          description: Current status of the business verification
        tags:
          type: array
          items:
            type: string
        requester:
          oneOf:
          - $ref: '#/components/schemas/type_:Requester'
          - type: 'null'
        assignee_id:
          type: string
          nullable: true
          format: uuid
        supported_document_types:
          type: array
          items:
            $ref: '#/components/schemas/type_:BusinessSupportedDocumentTypesItem'
        review:
          oneOf:
          - $ref: '#/components/schemas/type_:Review'
          - type: 'null'
        tin:
          oneOf:
          - $ref: '#/components/schemas/type_:Tin'
          - type: 'null'
        business_batch_id:
          type: string
          nullable: true
          format: uuid
        formation:
          oneOf:
          - $ref: '#/components/schemas/type_:Formation'
          - type: 'null'
        website:
          oneOf:
          - $ref: '#/components/schemas/type_:Website'
          - type: 'null'
        watchlist:
          oneOf:
          - $ref: '#/components/schemas/type_:Watchlist'
          - type: 'null'
        bankruptcies:
          type: array
          items:
            $ref: '#/components/schemas/type_:Bankruptcy'
        certifications:
          type: array
          items:
            $ref: '#/components/schemas/type_:Certification'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/type_:Document'
        liens:
          type: array
          items:
            $ref: '#/components/schemas/type_:Lien'
        names:
          type: array
          items:
            $ref: '#/components/schemas/type_:Name'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_:Address'
        people:
          type: array
          items:
            $ref: '#/components/schemas/type_:Person'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/type_:PhoneNumber'
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_:EmailAddress'
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/type_:Profile'
        registrations:
          type: array
          items:
            $ref: '#/components/schemas/type_:Registration'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/type_:Order'
        industry_classification:
          oneOf:
          - $ref: '#/components/schemas/type_:IndustryClassification'
          - type: 'null'
        monitor:
          oneOf:
          - $ref: '#/components/schemas/type_:Monitor'
          - type: 'null'
        tax_exempt_organization:
          oneOf:
          - $ref: '#/components/schemas/type_:TaxExemptOrganization'
          - type: 'null'
        fmcsa_registrations:
          type: array
          items:
            $ref: '#/components/schemas/type_:FmcsaRegistration'
        loans:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/type_:Loan'
        litigations:
          type: array
          items:
            $ref: '#/components/schemas/type_:Litigation'
        policy_results:
          type: array
          items:
            $ref: '#/components/schemas/type_:PolicyResult'
        politically_exposed_person_screening:
          oneOf:
          - $ref: '#/components/schemas/type_:PoliticallyExposedPersonScreening'
          - type: 'null'
        adverse_media_screening:
          oneOf:
          - $ref: '#/components/schemas/type_:AdverseMediaScreening'
          - type: 'null'
        signal:
          oneOf:
          - $ref: '#/components/schemas/type_:Signal'
          - type: 'null'
        submitted:
          $ref: '#/components/schemas/type_:SubmittedAttribute'
        subscription:
          oneOf:
          - $ref: '#/components/schemas/type_:Subscription'
          - type: 'null'
        subscription_availability:
          oneOf:
          - $ref: '#/components/schemas/type_:BusinessSubscriptionAvailability'
          - type: 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - object
      - id
      - name
      - status
      - created_at
      - updated_at
      title: Business
    type_businesses:BusinessUpdateParamAddressesItem:
      oneOf:
      - $ref: '#/components/schemas/type_:SubmittedAddressFull'
      - $ref: '#/components/schemas/type_:SubmittedAddressComponent'
      title: BusinessUpdateParamAddressesItem
    type_businesses:BusinessRequestParamOrdersItemProduct:
      type: string
      enum:
      - identity
      - liens
      - adverse_media
      - bankruptcies
      - business_enrichment
      - documents
      - enhanced_screenings
      - kyc
      - litigations
      - people_litigations
      - people_bankruptcies
      - people_tax_liens
      - people_ucc_liens
      - people_criminal_history
      - tin
      - website
      - business_verification_qualify
      - business_verification_verify
      - tax_liens
      - ucc_liens
      - email_risk
      description: The product to order.
      title: BusinessRequestParamOrdersItemProduct
    type_:LienState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      description: State where the lien was filed
      title: LienState
    type_:ReviewTaskLabel:
      type: string
      enum:
      - Politically Exposed Persons
      - Web Presence Quality
      - KYC
      - People Bankruptcies
      - Address Risk
      - Global Watchlists
      - Phone Number
      - Third Party Profile Status
      - Liens
      - Third Party Profiles
      - Time in Business
      - Web - Email Address
      - Risky Keywords
      - SOS Domestic Sub‑status
      - PPP Loans
      - Secretary of State Filings
      - Entity Type
      - SOS Filings
      - People Criminal History
      - Adverse Media
      - Web - People
      - Office Address
      - Entity Type Match
      - Web - Phone Number
      - Business Name
      - Bankruptcies
      - Industry Classification
      - TIN Match
      - Watchlists
      - People Litigations
      - True Industry
      - People
      - DBA Name
      - Domain Ownership
      - Domain Redirect
      - TIN Type
      - Website
      - TIN Error
      - Watchlist
      - Litigations
      - Web - Business Name
      - Name Entity Type
      - Formation State
      - People Liens
      - Web - Office Address
      - Email Risk
      title: ReviewTaskLabel
    type_:LienStatus:
      type: string
      enum:
      - created
      - pending
      - open
      - closing
      - closed
      - unknown
      - filed
      description: Current status of the lien
      title: LienStatus
    type_:WebsitePhoneNumberObject:
      type: string
      enum:
      - phone_number
      title: WebsitePhoneNumberObject
    type_:Tin:
      type: object
      properties:
        name:
          type: string
          nullable: true
        mismatch:
          type: boolean
        unknown:
          type: boolean
        verified:
          type: boolean
          nullable: true
        error:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time
        issued:
          type: boolean
          nullable: true
        verified_by:
          type: string
          nullable: true
        business_id:
          type: string
          format: uuid
        tin:
          type: string
      required:
      - business_id
      - tin
      title: Tin
    type_:LitigationCaseStatus:
      type: string
      enum:
      - OPEN
      - CLOSED
      - UNKNOWN
      title: LitigationCaseStatus
    type_:WebsiteObject:
      type: string
      enum:
      - website
      title: WebsiteObject
    type_businesses:BusinessRequestParamAddressesItem:
      oneOf:
      - $ref: '#/components/schemas/type_:SubmittedAddressFull'
      - $ref: '#/components/schemas/type_:SubmittedAddressComponent'
      title: BusinessRequestParamAddressesItem
    type_:SignalRequester:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        name:
          type: string
      required:
      - id
      - type
      - name
      title: SignalRequester
    type_:LienDebtorsItemType:
      type: string
      enum:
      - ORGANIZATION
      - INDIVIDUAL
      - UNKNOWN
      - Business
      title: LienDebtorsItemType
    type_:EmailIndicatorType:
      type: string
      enum:
      - email_validity
      - email_deliverability
      - email_domain_reputation
      - email_domain_configuration
      - email_account_activity
      - email_data_breach_exposure
      - email_address_type
      title: EmailIndicatorType
    type_:PersonTitlesItemObject:
      type: string
      enum:
      - person_title
      title: PersonTitlesItemObject
    type_:BusinessItem:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        external_id:
          type: string
          nullable: true
        unique_external_id:
          type: string
          nullable: true
        name:
          type: string
        status:
          $ref: '#/components/schemas/type_:BusinessItemStatus'
          description: Current status of the business verification
        tags:
          type: array
          items:
            type: string
        review:
          oneOf:
          - $ref: '#/components/schemas/type_:Review'
          - type: 'null'
        assignee:
          oneOf:
          - $ref: '#/components/schemas/type_:User'
          - type: 'null'
        website:
          oneOf:
          - $ref: '#/components/schemas/type_:BusinessItemWebsite'
          - type: 'null'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/type_:Order'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - object
      - id
      - name
      - status
      - created_at
      - updated_at
      description: Simplified business object returned in list endpoints
      title: BusinessItem
    type_:WebsiteRatingQualityRating:
      type: string
      enum:
      - low
      - moderate
      - high
      - not_available
      title: WebsiteRatingQualityRating
    type_:BusinessSubscriptionAvailabilityCertification:
      type: string
      enum:
      - subscribable
      - account_unsubscribable
      title: BusinessSubscriptionAvailabilityCertification
    type_:BusinessSubscriptionAvailabilityBankruptcy:
      type: string
      enum:
      - subscribable
      - account_unsubscribable
      title: BusinessSubscriptionAvailabilityBankruptcy
    type_:AddressRatingRiskRating:
      type: string
      enum:
      - low
      - moderate
      - high
      - not_available
      title: AddressRatingRiskRating
    type_:CriminalHistoryRecord:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:CriminalHistoryRecordObject'
        id:
          type: string
          format: uuid
        category:
          type: string
        state:
          type: string
          nullable: true
        person:
          $ref: '#/components/schemas/type_:CriminalHistoryRecordPerson'
        cases:
          type: array
          items:
            $ref: '#/components/schemas/type_:CriminalHistoryCase'
      required:
      - object
      - id
      - category
      - cases
      title: CriminalHistoryRecord
    type_:OrderProduct:
      type: string
      enum:
      - identity
      - liens
      - adverse_media
      - bankruptcies
      - business_enrichment
      - documents
      - enhanced_screenings
      - kyc
      - litigations
      - people_litigations
      - people_bankruptcies
      - people_tax_liens
      - people_ucc_liens
      - people_criminal_history
      - tin
      - website
      - business_verification_qualify
      - business_verification_verify
      - tax_liens
      - ucc_liens
      - email_risk
      title: OrderProduct
    type_:ReviewTaskKey:
      type: string
      enum:
      - location_frequency
      - bankruptcies
      - sos_unknown
      - address_deliverability
      - website_url_discovery
      - entity_type
      - web_person_verification
      - global_watchlists
      - website_status
      - name
      - sos_sub_status
      - name_and_entity_type
      - sos_active
      - profile_status
      - phone
      - sos_domestic
      - address_high_risk
      - web_address_verification
      - address_property_type
      - sos_not_found
      - time_in_business
      - web_phone_number_verification
      - adverse_media
      - litigations
      - address_verification
      - people_litigations
      - dba_name
      - watchlist
      - entity_type_match
      - people_criminal_history
      - formation_state
      - tin_error
      - sos_inactive
      - address_frequency
      - web_business_name_verification
      - web_presence_quality
      - tin_type
      - tin_issued
      - sos_domestic_sub_status
      - risky_keywords
      - address_registered_agent
      - sos
      - kyc_decision
      - ppp_loans
      - web_email_address_verification
      - tin
      - address
      - liens
      - sos_status
      - industry
      - sos_match
      - address_risk
      - website_url_domain_ownership
      - website_parked
      - domain_redirect
      - people_bankruptcies
      - politically_exposed_persons
      - person_verification
      - profile_discovery
      - address_cmra
      - website_verification
      - website
      - people_liens
      - email_risk
      title: ReviewTaskKey
    type_businesses:BusinessRequestParamOrdersItem:
      type: object
      properties:
        product:
          $ref: '#/components/schemas/type_businesses:BusinessRequestParamOrdersItemProduct'
          description: The product to order.
        subproducts:
          type: array
          items:
            $ref: '#/components/schemas/type_businesses:BusinessRequestParamOrdersItemSubproductsItem'
          description: Subproducts to include with the order.
        options:
          $ref: '#/components/schemas/type_businesses:BusinessRequestParamOrdersItemOptions'
          description: Per-order configuration flags.
      required:
      - product
      title: BusinessRequestParamOrdersItem
    type_:LienObject:
      type: string
      enum:
      - lien
      title: LienObject
    type_:SignalReasonsItem:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/type_:SignalReasonsItemCategory'
        group:
          type: string
        description:
          type: string
        code:
          $ref: '#/components/schemas/type_:SignalReasonsItemCode'
        importance:
          type: number
          format: double
      required:
      - category
      - group
      - description
      - code
      title: SignalReasonsItem
    type_:Order:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/type_:OrderStatus'
        business_id:
          type: string
          format: uuid
        subproducts:
          type: array
          items:
            $ref: '#/components/schemas/type_:OrderSubproductsItem'
        completed_at:
          type: string
          nullable: true
          format: date-time
        monitoring:
          type: boolean
        product:
          $ref: '#/components/schemas/type_:OrderProduct'
        requester:
          $ref: '#/components/schemas/type_:OrderRequester'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - object
      - id
      - status
      - business_id
      - product
      - created_at
      - updated_at
      title: Order
    type_:BusinessSubscriptionAvailabilityLien:
      type: string
      enum:
      - subscribable
      - account_unsubscribable
      title: BusinessSubscriptionAvailabilityLien
    type_:WebsitePhoneNumber:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:WebsitePhoneNumberObject'
        id:
          type: string
          format: uuid
        number:
          type: string
        contact_type:
          type: string
          nullable: true
        recommended:
          type: boolean
          nullable: true
        submitted:
          type: boolean
        sources:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/type_:Source'
      title: WebsitePhoneNumber
    type_:PhoneNumber:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:PhoneNumberObject'
        number:
          type: string
        contact_type:
          type: string
          nullable: true
        recommended:
          type: boolean
          nullable: true
      title: PhoneNumber
    type_:WebsiteIndicatorType:
      type: string
      enum:
      - domain_age
      - top_level_domain
      - content_diversity
      - contact_info
      - compliance_info
      - page_count
      - broken_links
      - domain_consistency
      - update_frequency
      - filler_text
      - image_quality
      - last_updated
      - third_party_profile_links
      - us_business_presence
      - spelling_and_grammar
      - https
      - domain_ownership
      title: WebsiteIndicatorType
    type_:EmailAddress:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:EmailAddressObject'
        id:
          type: string
          format: uuid
        email:
          type: string
        submitted:
          type: boolean
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
        domain:
          type: string
          description: Domain portion of the email address. Included when email risk data is present.
        valid:
          type: boolean
          description: Whether the email address is valid. Included when email risk data is present.
        deliverability:
          type: string
          description: Likelihood that mail sent to this address will be delivered. Included when email risk data is present.
        disposable:
          type: boolean
          description: Whether the email belongs to a disposable / temporary email service. Included when email risk data is present.
        address_type:
          $ref: '#/components/schemas/type_:EmailAddressAddressType'
          description: Classification of the email address. Included when email risk data is present.
        business_id:
          type: string
          format: uuid
          description: ID of the business the email address is associated with. Included when email risk data is present.
        domain_age:
          type: string
          nullable: true
          format: date-time
          description: UTC datetime the email's domain was first registered. Included when email risk data is present.
        first_seen:
          type: string
          nullable: true
          format: date-time
          description: UTC datetime the email was first observed by our data provider. Included when email risk data is present.
        rating:
          $ref: '#/components/schemas/type_:EmailRating'
      required:
      - object
      - id
      - email
      - submitted
      title: EmailAddress
    type_:AdverseMediaScreeningResultsItemItemsItemFlagsRisksItemConfidenceLevel:
      type: string
      enum:
      - low
      - moderate
      - high
      title: AdverseMediaScreeningResultsItemItemsItemFlagsRisksItemConfidenceLevel
    type_:WatchlistResult:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:WatchlistResultObject'
        id:
          type: string
          format: uuid
        status:
          type: string
        entity_name:
          type: string
        entity_aliases:
          type: array
          items:
            type: string
        listed_at:
          type: string
          nullable: true
          format: date-time
        agency_information_url:
          type: string
        agency_list_url:
          type: string
        score:
          type: number
          nullable: true
          format: double
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_:WatchlistResultAddressesItem'
        url:
          type: string
          nullable: true
          format: uri
        list_country:
          type: string
        list_url:
          type: string
          nullable: true
          format: uri
        list_region:
          type: string
        categories:
          type: array
          items:
            type: string
      required:
      - object
      - id
      - status
      - entity_name
      - entity_aliases
      - agency_information_url
      - agency_list_url
      - score
      title: WatchlistResult
    type_:IndustryClassificationObject:
      type: string
      enum:
      - industry_classification
      title: IndustryClassificationObject
    type_:LienSecuredPartiesItem:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/type_:LienSecuredPartiesItemType'
        role:
          type: string
        organization_name:
          type: string
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_:LienSecuredPartiesItemAddressesItem'
      title: LienSecuredPartiesItem
    type_:WatchlistSource:
      type: object
      properties:
        object:
          type: string
        agency:
          type: string
        agency_abbr:
          type: string
        organization:
          type: string
        title:
          type: string
        abbr:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/type_:WatchlistResult'
      required:
      - object
      - agency
      - agency_abbr
      - organization
      - title
      - abbr
      - results
      title: WatchlistSource
    type_:ReviewObject:
      type: string
      enum:
      - review
      title: ReviewObject
    type_:AdverseMediaScreeningExclusionSettings:
      type: object
      properties:
        criteria_match_threshold:
          type: number
          format: double
        max_people_screened:
          type: integer
        max_names_screened:
          type: integer
        people:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
      title: AdverseMediaScreeningExclusionSettings
    type_:ProfileMetadataReviewsItem:
      type: object
      properties:
        rating:
          type: number
          format: double
        posted_at:
          type: string
          format: date-time
      title: ProfileMetadataReviewsItem
    type_:IndustryClassificationCategoriesItem:
      type: object
      properties:
        classification_system:
          $ref: '#/components/schemas/type_:IndustryClassificationCategoriesItemClassificationSystem'
        name:
          type: string
          description: Industry name
        sector:
          type: string
          nullable: true
          description: Industry sector in CONSTANT_CASE
        category:
          type: string
          description: Industry category in CONSTANT_CASE
        score:
          type: number
          format: double
          description: Classification confidence score (0.0 to 1.0)
        high_risk:
          type: boolean
          description: Whether this industry is considered high risk
        naics_codes:
          type: array
          items:
            type: string
          description: NAICS (2022) classification codes
        sic_codes:
          type: array
          items:
            type: string
          description: SIC classification codes
        mcc_codes:
          type: array
          items:
            type: string
          description: MCC classification codes
        prohibited_labels:
          type: array
          nullable: true
          items:
            type: string
          description: Prohibited classification labels if applicable
      title: IndustryClassificationCategoriesItem
    type_:OrderRequesterType:
      type: string
      enum:
      - account
      - user
      - api_key
      title: OrderRequesterType
    type_:WebsiteEmailAddressesItemObject:
      type: string
      enum:
      - email_address
      title: WebsiteEmailAddressesItemObject
    type_:MonitorEventTypesItemStatus:
      type: string
      enum:
      - active
      - unavailable
      - pending
      title: MonitorEventTypesItemStatus
    type_:CriminalHistoryChargeDispositionsItem:
      type: object
      properties:
        disposition:
          type: string
          nullable: true
        disposition_date:
          type: string
          nullable: true
          format: date
        disposition_type:
          type: string
          nullable: true
      title: CriminalHistoryChargeDispositionsItem
    type_:BusinessItemStatus:
      type: string
      enum:
      - open
      - pending
      - in_audit
      - in_review
      - approved
      - rejected
      description: Current status of the business verification
      title: BusinessItemStatus
    type_:ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_:ErrorResponseErrorsItem'
      required:
      - errors
      title: ErrorResponse
    type_businesses:BusinessRequestParamOrdersItemOptions:
      type: object
      properties:
        person_match:
          type: boolean
          description: When true on a `tin` order, enables person-name matching against IRS records.
      description: Per-order configuration flags.
      title: BusinessRequestParamOrdersItemOptions
    type_:Watchlist:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        hit_count:
          type: integer
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/type_:WatchlistAgency'
        lists:
          type: array
          items:
            $ref: '#/components/schemas/type_:WatchlistSource'
        people:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
      required:
      - object
      - id
      - hit_count
      - agencies
      - lists
      - people
      title: Watchlist
    type_:AdverseMediaScreeningResultsItemItemsItem:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemObject'
        source_name:
          type: string
        title:
          type: string
        url:
          type: string
          format: uri
        flags:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemFlags'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      title: AdverseMediaScreeningResultsItemItemsItem
    type_:FmcsaRegistration:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:FmcsaRegistrationObject'
        id:
          type: string
          format: uuid
        dot_number:
          type: string
          description: Department of Transportation (DOT) number
        legal_name:
          type: string
          description: Legal name of the carrier
        dba_name:
          type: string
          nullable: true
          description: Doing Business As name
        source:
          type: string
          format: uri
          description: Source URL for the FMCSA registration data
        addresses:
          type: array
          items:
            type: string
          description: List of carrier addresses
      required:
      - object
      - id
      - dot_number
      - legal_name
      - source
      - addresses
      title: FmcsaRegistration
    type_:AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItem:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItemName'
        confidence_level:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItemConfidenceLevel'
      title: AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItem
    type_:AddressPropertyType:
      type: string
      enum:
      - commercial
      - residential
      title: AddressPropertyType
    type_:CertificationCertificationType:
      type: string
      enum:
      - federal
      - self_certified
      title: CertificationCertificationType
    type_:PoliticallyExposedPersonScreeningSettingsMatchScore:
      type: string
      enum:
      - LOW
      - MEDIUM
      - HIGH
      title: PoliticallyExposedPersonScreeningSettingsMatchScore
    type_:BankruptcyObject:
      type: string
      enum:
      - bankruptcy
      title: BankruptcyObject
    type_:IndustryClassificationWebsite:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/type_:IndustryClassificationWebsiteStatus'
        parked:
          type: boolean
      title: IndustryClassificationWebsite
    type_:CertificationObject:
      type: string
      enum:
      - certification
      title: CertificationObject
    type_:DocumentObject:
      type: string
      enum:
      - document
      title: DocumentObject
    type_:AddressDeliverabilityAnalysisSubType:
      type: string
      enum:
      - Deliverable
      - Undeliverable
      - Unknown
      title: AddressDeliverabilityAnalysisSubType
    type_:BusinessSubscriptionAvailability:
      type: object
      properties:
        bankruptcy:
          $ref: '#/components/schemas/type_:BusinessSubscriptionAvailabilityBankruptcy'
        certification:
          $ref: '#/components/schemas/type_:BusinessSubscriptionAvailabilityCertification'
        registration:
          $ref: '#/components/schemas/type_:BusinessSubscriptionAvailabilityRegistration'
        tin:
          $ref: '#/components/schemas/type_:BusinessSubscriptionAvailabilityTin'
        watchlist_result:
          $ref: '#/components/schemas/type_:BusinessSubscriptionAvailabilityWatchlistResult'
        lien:
          $ref: '#/components/schemas/type_:BusinessSubscriptionAvailabilityLien'
      title: BusinessSubscriptionAvailability
    type_:EmailRatingRiskRating:
      type: string
      enum:
      - low
      - moderate
      - high
      title: EmailRatingRiskRating
    type_:OrderSubproductsItem:
      type: string
      enum:
      - Articles of Incorporation
      - Certificate of Good Standing
      - Articles of Incorporation with Certificate of Good Standing fallback
      - ucc_documents
      - web_analysis
      - industry_classification
      title: OrderSubproductsItem
    type_:LoanDetailsNaicsCode:
      type: object
      properties:
        code:
          type: integer
        title:
          type: string
        description:
          type: string
      title: LoanDetailsNaicsCode
    type_:AddressIndicatorRating:
      type: string
      enum:
      - positive
      - negative
      - neutral
      title: AddressIndicatorRating
    type_:ReviewTaskCategory:
      type: string
      enum:
      - bankruptcies
      - global_watchlists
      - name
      - people_litigations
      - loans
      - kyc
      - watchlist
      - phone
      - formation
      - people_criminal_history
      - adverse_media
      - litigations
      - tin_type
      - address
      - sos
      - web
      - liens
      - people_bankruptcies
      - industry
      - tin
      - people
      - people_liens
      - website
      - politically_exposed_persons
      - email
      title: ReviewTaskCategory
    type_:SubmittedAttributeOrdersItem:
      type: object
      properties:
        product:
          type: string
      title: SubmittedAttributeOrdersItem
    type_:LienDebtorsItem:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/type_:LienDebtorsItemType'
        party_type:
          type: string
        organization_name:
          type: string
        entity_type:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_:LienDebtorsItemAddressesItem'
      title: LienDebtorsItem
    type_:WebsiteAddressesItem:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        address_line1:
          type: string
          nullable: true
        address_line2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        full_address:
          type: string
        submitted:
          type: boolean
        sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:Source'
      title: WebsiteAddressesItem
    type_:CertificationExternalSourcesItem:
      type: object
      properties:
        organization:
          type: string
        link:
          type: string
      title: CertificationExternalSourcesItem
    type_:AdverseMediaScreeningResultsItemItemsItemFlags:
      type: object
      properties:
        risks:
          type: array
          items:
            $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemFlagsRisksItem'
        sentiments:
          type: array
          items:
            $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemItemsItemFlagsSentimentsItem'
      title: AdverseMediaScreeningResultsItemItemsItemFlags
    type_:EmailAddressObject:
      type: string
      enum:
      - email_address
      title: EmailAddressObject
    type_:PoliticallyExposedPersonScreeningResultsItemHitType:
      type: string
      enum:
      - direct
      - direct_alias
      - association
      title: PoliticallyExposedPersonScreeningResultsItemHitType
    type_:Bankruptcy:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:BankruptcyObject'
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        case_number:
          type: string
        case_updates:
          type: array
          items:
            $ref: '#/components/schemas/type_:BankruptcyCaseUpdatesItem'
        chapter:
          type: number
          format: double
        court:
          type: string
        filing_date:
          type: string
          nullable: true
          format: date
        debtors:
          type: array
          items:
            $ref: '#/components/schemas/type_:BankruptcyDebtorsItem'
      required:
      - object
      - id
      - business_id
      - case_number
      - case_updates
      - chapter
      - court
      - filing_date
      - debtors
      title: Bankruptcy
    type_:AdverseMediaScreeningResultsItemObject:
      type: string
      enum:
      - adverse_media_screening_result
      title: AdverseMediaScreeningResultsItemObject
    type_:RequesterType:
      type: string
      enum:
      - account
      - user
      title: RequesterType
    type_:SubmittedAttribute:
      type: object
      properties:
        object:
          type: string
        name:
          type: string
        entity_type:
          type: string
          nullable: true
        addresses:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
        orders:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/type_:SubmittedAttributeOrdersItem'
        people:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
        phone_numbers:
          type: array
          nullable: true
          items:
            type: object
            additionalProperties:
              description: Any type
        email_addresses:
          type: array
          nullable: true
          items:
            type: object
            additionalProperties:
              description: Any type
        tags:
          type: array
          nullable: true
          items:
            type: string
        external_id:
          type: string
          nullable: true
        unique_external_id:
          type: string
          nullable: true
        tin:
          type: object
          nullable: true
          additionalProperties:
            description: Any type
        website:
          type: object
          nullable: true
          additionalProperties:
            description: Any type
        assignee_id:
          type: string
          nullable: true
        formation:
          type: object
          nullable: true
          additionalProperties:
            description: Any type
        names:
          type: array
          nullable: true
          items:
            type: object
            additionalProperties:
              description: Any type
        profiles:
          type: array
          nullable: true
          items:
            type: object
            additionalProperties:
              description: Any type
      required:
      - object
      - name
      title: SubmittedAttribute
    type_:IndustryClassification:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:IndustryClassificationObject'
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/type_:IndustryClassificationStatus'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/type_:IndustryClassificationCategoriesItem'
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          nullable: true
          format: date-time
        website:
          oneOf:
          - $ref: '#/components/schemas/type_:IndustryClassificationWebsite'
          - type: 'null'
      required:
      - object
      - id
      - status
      - categories
      - created_at
      title: IndustryClassification
    type_:Certification:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:CertificationObject'
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        entrance_date:
          type: string
          nullable: true
          format: date-time
        exit_date:
          type: string
          nullable: true
          format: date-time
        certification_id:
          type: string
          nullable: true
        name:
          type: string
        key:
          type: string
        certification_type:
          $ref: '#/components/schemas/type_:CertificationCertificationType'
        external_sources:
          type: array
          items:
            $ref: '#/components/schemas/type_:CertificationExternalSourcesItem'
      required:
      - object
      - name
      - key
      - certification_type
      - external_sources
      title: Certification
    type_:OrderRequester:
      type: object
      properties:
        name:
          type: string
          nullable: true
        type:
          oneOf:
          - $ref: '#/components/schemas/type_:OrderRequesterType'
          - type: 'null'
      title: OrderRequester
    type_:AddressIndicatorName:
      type: string
      enum:
      - Valid US address
      - Commercial registered agent
      - Geographical location
      - Private mailbox
      - Virtual address
      - Location frequency
      - Deliverability
      - Property type
      title: AddressIndicatorName
    type_:Signal:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        tin:
          type: string
          nullable: true
        external_id:
          type: string
          nullable: true
        model_slug:
          type: string
        score:
          type: number
          nullable: true
          format: double
        business_id:
          type: string
          nullable: true
          format: uuid
        batch_id:
          type: string
          nullable: true
          format: uuid
        requester:
          $ref: '#/components/schemas/type_:SignalRequester'
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/type_:SignalReasonsItem'
        addresses:
          type: array
          items:
            type: string
        people:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
      required:
      - object
      - id
      - name
      - created_at
      title: Signal
    type_:BusinessStatus:
      type: string
      enum:
      - open
      - pending
      - in_audit
      - in_review
      - approved
      - rejected
      description: Current status of the business verification
      title: BusinessStatus
    type_:Lien:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:LienObject'
        type:
          $ref: '#/components/schemas/type_:LienType'
          description: Type of lien
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        debtors:
          type: array
          items:
            $ref: '#/components/schemas/type_:LienDebtorsItem'
        secured_parties:
          type: array
          items:
            $ref: '#/components/schemas/type_:LienSecuredPartiesItem'
        file_number:
          type: string
          nullable: true
          description: Filing number for the lien
        state:
          $ref: '#/components/schemas/type_:LienState'
          description: State where the lien was filed
        status:
          $ref: '#/components/schemas/type_:LienStatus'
          description: Current status of the lien
        filing_date:
          type: string
          nullable: true
          format: date
          description: Date the lien was filed
        updated_date:
          type: string
          nullable: true
          format: date
          description: Date the lien was last updated
        lapse_date:
          type: string
          nullable: true
          format: date
          description: Date the lien lapses/expires
        collateral:
          type: string
          nullable: true
          description: Description of collateral securing the lien
        collateral_type:
          oneOf:
          - $ref: '#/components/schemas/type_:LienCollateralType'
          - type: 'null'
          description: Type of collateral
        negative_pledge:
          type: boolean
          description: Whether this is a negative pledge
        confirmation_number:
          type: string
          nullable: true
        loan_principal_amount_cents:
          type: integer
          nullable: true
          description: Loan principal amount in cents
        source:
          type: string
          nullable: true
          format: uri
          description: Source URL for the lien data
        packet_number:
          type: string
          nullable: true
        lien_termination:
          type: object
          nullable: true
          additionalProperties:
            description: Any type
          description: Lien termination details if terminated
        liability_cents:
          type: integer
          nullable: true
          description: Liability amount in cents
        alternative_designation:
          oneOf:
          - $ref: '#/components/schemas/type_:LienAlternativeDesignation'
          - type: 'null'
        status_category:
          $ref: '#/components/schemas/type_:LienStatusCategory'
          description: Categorized status of the lien
        owner_id:
          type: string
          format: uuid
          description: Polymorphic owner ID (typically business_id)
        owner_type:
          type: string
          description: Polymorphic owner type (typically Business)
        filed_by_account:
          type: boolean
          nullable: true
          description: Whether the lien was filed by the account
        documents:
          type: array
          items:
            $ref: '#/components/schemas/type_:Document'
          description: Associated lien documents
      required:
      - object
      - type
      - id
      - business_id
      - debtors
      - secured_parties
      - file_number
      - state
      - status
      - filing_date
      - status_category
      - owner_id
      - owner_type
      - documents
      title: Lien
    type_:CriminalHistoryCaseObject:
      type: string
      enum:
      - criminal_history/case
      title: CriminalHistoryCaseObject
    type_:BusinessItemWebsite:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
          format: uuid
        url:
          type: string
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      title: BusinessItemWebsite
    type_:Requester:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/type_:RequesterType'
        name:
          type: string
        requested_at:
          type: string
          format: date-time
      required:
      - id
      - type
      - name
      - requested_at
      title: Requester
    type_businesses:BusinessUpdateParamStatus:
      type: string
      enum:
      - in_review
      - approved
      - rejected
      description: Status to set for the business (only final statuses allowed)
      title: BusinessUpdateParamStatus
    type_:BusinessSupportedDocumentTypesItem:
      type: string
      enum:
      - Articles of Incorporation
      - Certificate of Good Standing
      title: BusinessSupportedDocumentTypesItem
    type_:SignalReasonsItemCode:
      type: string
      enum:
      - I301
      - I302
      - I304
      - I102
      - I103
      - I107
      - I108
      - I109
      - I111
      - I601
      - I603
      - I201
      - I202
      - I203
      - I204
      - V010
      - V011
      - V101
      - V102
      - V103
      - V104
      - V501
      - V502
      - V503
      - V505
      - V748
      - V749
      - V750
      - V751
      - V752
      - V753
      - V801
      - V1101
      - V1201
      - V1302
      - E500
      - E501
      - E502
      - E503
      - E1101
      - E1102
      - E1201
      title: SignalReasonsItemCode
    type_:CriminalHistoryChargeSentencesItem:
      type: object
      properties:
        details:
          type: string
      title: CriminalHistoryChargeSentencesItem
    type_businesses:BusinessRequestParamWebsite:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The website URL for the business
      description: Website information for the business. Required when name and addresses are not provided when ordering the web_analysis and/or industry_classification subproducts.
      title: BusinessRequestParamWebsite
    type_:PoliticallyExposedPersonScreeningResultsItemObject:
      type: string
      enum:
      - politically_exposed_person_screening_result
      title: PoliticallyExposedPersonScreeningResultsItemObject
    type_:WebsitePagesItem:
      type: object
      properties:
        url:
          type: string
          format: uri
        category:
          type: string
        screenshot_url:
          type: string
          format: uri
      title: WebsitePagesItem
    type_:IndustryClassificationWebsiteStatus:
      type: string
      enum:
      - online
      - offline
      - unknown
      title: IndustryClassificationWebsiteStatus
    type_:AdverseMediaScreeningResultsItem:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/type_:AdverseMediaScreeningResultsItemObject'
        id:
          type: string
          format: uuid
        risk_scores:
          type: object
          additionalProperties:
            type: number
            format: double
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        match_score:
          type: number
          format: double
[...]
