openapi: 3.2.0
info:
  title: Middesk Subpackage Prefill API
  version: 1.0.0
servers:
- url: https://api.middesk.com
  description: Default
tags:
- name: subpackage_prefill
paths:
  /v1/prefill/businesses:
    post:
      operationId: business
      summary: Prefill business information
      description: Smart populate business attributes by searching with name and address, TIN, or website URL. Returns enriched business data.
      tags:
      - subpackage_prefill
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: prefill results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__PrefillBusiness'
        '400':
          description: invalid request - missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type__ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                names:
                  type: array
                  items:
                    type: string
                  description: Business name(s) to search for
                addresses:
                  type: array
                  items:
                    type: string
                  description: Business address(es) to search for
                tin:
                  type: string
                  description: Taxpayer Identification Number
                website_url:
                  type: string
                  description: Business website URL
                autocomplete_result_id:
                  type: string
                  description: ID of an autocomplete result to use for direct lookup
components:
  schemas:
    type__PrefillBusinessIndustryClassificationsItem:
      type: object
      properties:
        name:
          type: string
        score:
          type: number
          format: double
        sector:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        high_risk:
          type: boolean
        mcc_codes:
          type:
          - array
          - 'null'
          items:
            type: string
        sic_codes:
          type:
          - array
          - 'null'
          items:
            type: string
        naics_codes:
          type:
          - array
          - 'null'
          items:
            type: string
        prohibited_labels:
          type: array
          items:
            type: string
        classification_system:
          type: string
      title: PrefillBusinessIndustryClassificationsItem
    type__PrefillBusiness:
      type: object
      properties:
        object:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/type__PrefillBusinessNamesItem'
          description: Business names
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type__PrefillBusinessAddressesItem'
          description: Business addresses
        tin:
          oneOf:
          - $ref: '#/components/schemas/type__PrefillBusinessTin'
          - type: 'null'
          description: TIN information if verified
        formation:
          $ref: '#/components/schemas/type__PrefillBusinessFormation'
          description: Formation details
        industry_classifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/type__PrefillBusinessIndustryClassificationsItem'
          description: Industry classifications
        people:
          type: array
          items:
            $ref: '#/components/schemas/type__PrefillBusinessPeopleItem'
          description: Associated persons
        website:
          oneOf:
          - $ref: '#/components/schemas/type__PrefillBusinessWebsite'
          - type: 'null'
          description: Website information
      description: Prefilled business information
      title: PrefillBusiness
    type__PrefillBusinessNamesItem:
      type: object
      properties:
        name:
          type: string
        type:
          oneOf:
          - $ref: '#/components/schemas/type__PrefillBusinessNamesItemType'
          - type: 'null'
      title: PrefillBusinessNamesItem
    type__PrefillBusinessWebsite:
      type: object
      properties:
        url:
          type: string
      description: Website information
      title: PrefillBusinessWebsite
    type__PrefillBusinessNamesItemType:
      type: string
      enum:
      - legal
      - dba
      title: PrefillBusinessNamesItemType
    type__ErrorResponseErrorsItem:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: ErrorResponseErrorsItem
    type__PrefillBusinessAddressesItem:
      type: object
      properties:
        full_address:
          type: string
        address_line1:
          type: string
        address_line2:
          type:
          - string
          - 'null'
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        labels:
          type: array
          items:
            type: string
      title: PrefillBusinessAddressesItem
    type__PrefillBusinessTin:
      type: object
      properties:
        last_four:
          type: string
          description: Last four digits of the TIN
        tin_type:
          type: string
          description: Type of TIN (EIN, SSN, etc.)
      description: TIN information if verified
      title: PrefillBusinessTin
    type__PrefillBusinessPeopleItem:
      type: object
      properties:
        name:
          type: string
        titles:
          type: array
          items:
            type: string
      title: PrefillBusinessPeopleItem
    type__PrefillBusinessFormation:
      type: object
      properties:
        entity_type:
          type:
          - string
          - 'null'
      description: Formation details
      title: PrefillBusinessFormation
    type__ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type__ErrorResponseErrorsItem'
      required:
      - errors
      title: ErrorResponse
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
